button{
    padding: 7px 13px;
    background-color: #FA0430;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 7px rgba($color: #000000, $alpha: .15);
    transition: .2s;
}

button:hover {
    background-color: #cc0529;
    transform: translateY(-3px);
}